/* 背景色 */
body {
    background-color: rgb(241, 236, 231);
}

/* コンテナ */
.login-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

/* タイトル */
.login-title {
    font-family: 'Inika', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8B7969;
    text-align: center;
    margin-bottom: 40px;
}

/* フォーム */
.login-form {
    width: 736px;
    height: 650px;
    margin: 0 auto;
    padding: 60px 80px;
    background-color: #fff;
    border: 1px solid #C5B9B0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* フォーム項目 */
.login-form__item {
    margin-bottom: 40px;
}

.login-form__label {
    display: block;
    font-family: 'Inika', serif;
    font-size: 25px;
    font-weight: 400;
    color: #8B7969;
    margin-bottom: 15px;
}

.login-form__input {
    width: 100%;
    height: 46px;
    padding: 10px;
    background: #F4F4F4;
    border: none;
    border-radius: 4px;
    font-family: 'Inika', serif;
    font-size: 14px;
    color: #BEB1A6;
}

.login-form__input::placeholder {
    color: #BEB1A6;
}

/* エラーメッセージ */
.login-form__error {
    display: block;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* ログインボタン */
.login-form__button {
    width: 160px;
    height: 46px;
    padding: 10px 40px;
    background-color: #82756A;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Inika', serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0;
    white-space: nowrap;
}

/* ヘッダーのregisterボタン */
.register-button {
    display: inline-block;
    width: 100px;
    height: 34px;
    background: #F0F0F099;
    border: 1px solid #D9C6B5;
    border-radius: 4px;
    font-family: 'Inika', serif;
    font-size: 20px;
    color: #D9C6B5;
    text-decoration: none;
    text-align: center;
    line-height: 34px;
    padding: 0;
}
